<!DOCTYPE html>
<!-- //Allows Angular run on// -->
<html>
<head>
	<title>Travelist</title>
  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

  <!-- //Links that download Angular, Javascript, CSS, Bootstrap// -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
  <script type="text/javascript" src="Pinterest.js"></script>
  <link type="text/css" rel="stylesheet" href="Pinterest.css"/>
</head>
<!-- //links controller in Pinterest.js// -->
<body ng-app="pinApp" ng-controller="pinController" class="ng-scope">
<!-- ////////////Navigation bar //////////-->
  <div> 
		<nav class="navbar navbar-default navbar-static-top" role="navigation">
<!-- ///////Search bar (left side)////// -->
      <div class="navbar-header">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
              <input type="text" size="30" class="form-control" ng-model="searchText" placeholder="Where's your next adventure?"/>
          </div>
        </form> 
      </div>
    
<!-- //////////// Title////////////////// -->
      <ul class="nav navbar-nav navbar-inner">
				<li class="navbar-title">The Travelist</li>
			</ul>
<!-- //////// Drop down (right side)///// -->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
    			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
    				<ul class="dropdown-menu" role="menu">
      				<li><a href="#">Action</a></li>
      				<li><a href="#">Another action</a></li>
      				<li><a href="#">Something else here</a></li>
      				<li class="divider"></li>
      				<li><a href="#">Separated link</a></li>
          	</ul>
        </li>
      </ul>
    </nav>
  </div>
  <!--/////////End of Navigation bar //////  -->
  <!-- /////// Tile Angular Setup ////////// -->
  <br/>
      <form ng-submit="addPin(newPinPicture, newPinDescription, newPinWebsite)">
        <input ng-model="newPinPicture" size"20" placeholder="Image Site">
        <input ng-model="newPinDescription" size"20" placeholder="Description" >
        <input ng-model="newPinWebsite" size"20" placeholder="Website">
        <button type ="submit" ng-click="addPins()">Add to Adventure</button>
      </form>

<!-- All Pin Content -->
<div class="content">
<!-- Tile NG REPEAT/////////////////// -->
    <div class="tile" ng-repeat="pin in pins | filter:searchText" ng-click="viewDetails()">
    <div class="pin-picture"><img src="{{pin.picture}}"></div>
    <hr/>
    <div class="pin-website">{{pin.website}}</div>
    <div class="pin-description">{{pin.description}}</div>
    <button ng-click="pins.$remove(pin)">Not Interested</button>
    </div>
  </div>
</body>
</html>